<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Movies</title>
</head>
<body>
    <h1>Movies details</h1>
    <div class="container">
            <img class="single-movie-img" src="<%= movieIsExist.src %>" alt="<%= movieIsExist.name %>">
        <div class="movie">         
            <h2>movie name: <%= movieIsExist.name %></h2>
        </div>
    </div>
    
</body>
</html>
